<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/shopping.css">
    <div class="container">
        <div class="empty_cart">
            Uz doto brīdi preču grozs ir tukšs!
        </div>
    </div>