<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/shopping.css">
    <div class="container">
        <div class="order_success">

            Paldies par pasūtījumu! Jūsu pasūtījuma nummurs <strong>
                <%= orderNo %>
            </strong>!
        </div>
    </div>