<% layout("/layout/boilerplate.ejs") %>

    <div class="container">
        <div class="order_success">
            Paldies par pasūtījumu! Jūsu pasūtījuma nummurs <strong>E00001</strong>!
        </div>
    </div>