<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/about.css">

    <div class="back_to_products bg-dark bg-gradient shadow-lg">
        <a href="/shop"><button class="p-1 btn btn-outline-info btn-sm">Uz
                e-veikalu<span>&#8594;</span></button></a>
    </div>

    <div class="container">
        <main class="about">
            <section class="row what_we_are">
                <div class="col-6 what_we_are_img">
                    <span>Par salonu</span>
                </div>
                <div class="col-6">
                    <p>
                        Vieta, kur redzēt, sajust un uzzināt par jaunāko, kas šobrīd notiek virtuves tehnikas nozarē
                        visā
                        pasaulē.
                        Mūsu pārstāvēto ražotāju izvēle ir vienkārša – esam kopā tikai ar tiem, kuri iegulda preču
                        attīstībā
                        un
                        piedāvā tirgum jaunas idejas. Izvēloties mūsu piedāvāto preču klāstu, esi drošs, ka Tavā īpašumā
                        būs
                        produkts, kurš atbilst prasīgu pircēju standartiem. Kāds ražotājs lepojas ar labāko
                        funkcionalitāti,
                        kāds
                        radījis unikāla dizaina priekšmetu, bet tie visi vienkopus atrodami ražotāju salonā ELEMENTI.
                        Līderi
                        ir
                        tikai daži, pārējie seko!
                    </p>
                </div>
            </section>

            <section class="row expierence">
                <div class="col-6">
                    <p>
                        Vairāk kā 20 gadi savā nozarē – tas ir apliecinājums, ka esam nopietns, laika pārbaudi izturējis
                        un
                        profesionāls sadarbības partneris. Nenoliedzami, uzkrātā pieredze nozīmē labāku reakcijas ātrumu
                        un
                        mazāk kļūdu, jo jau sen esam atraduši atbildes uz jautājumiem, kurus vēl tikai rīt būs jārisina
                        mazāk
                        pieredzējušiem uzņēmumiem. Taču šajos gados galvenā iegūtā atziņa ir tā, ka pieredzes vērtība
                        ļoti
                        strauji mazināsies, ja apstāsimies pie sasniegtā. Tāpēc darām visu, lai attīstītu mūsu uzņēmumu
                        vēl
                        modernāku, mūsdienīgāku, ar iespējami jaunāko produktu piedāvājumu un atvērtību jauniem
                        risinājumiem.
                        Bijām pirmie, kad sākām, un esam vismodernākie šobrīd!
                    </p>
                </div>
                <div class="col-6 expierence_img">
                    <span>Pieredze</span>
                </div>
            </section>


            <section class="row competence">
                <div class="col-6 competence_img">
                    <span>Kompetence</span>
                </div>
                <div class="col-6">
                    <p>
                        Tāpat kā cilvēkam, arī katram uzņēmumam ir savs unikālais rokraksts, kas to izceļ uz simtiem
                        līdzinieku
                        fona. Mūsu unikalitāti raksturo tieši šie 2 vārdi – KOMPETENCES CENTRS. Mēs neesam kārtējais
                        virtuves
                        elementu veikals! Mūs atpazīst kā vietu, kurā atrast risinājumus viskomplicētākajām situācijām
                        mājokļa
                        aprīkošanā. Nereti esam vienīgais uzņēmums, kas spēj piedāvāt produktus, kuri piemēroti unikālām
                        iebūvēšanas nišām vai atbilst vienotam krāsu kodam. Tieši sortimenta daudzveidība un mūsu
                        speciālistu
                        unikālās zināšanas padara mūs par viskompetentāko un risinājumiem bagātāko piegādātāju Baltijā.
                    </p>
                </div>
            </section>

            <section class="row wholesale">
                <div class="col-6">
                    <p>
                        Ar pilnu ražotāju atbalstu pārstāvam un izplatam preces visu veidu tirdzniecības kanālos
                        neatkarīgi
                        no klienta lieluma un darbības profila. Mūsu VAIRUMTIRDZNIECĪBAS piedāvājumā ir visplašākā
                        vidējās
                        un top klases virtuves tehnikas kolekcija Baltijas valstīs. Mūsu pakalpojumus ikdienā izmanto
                        simtiem biznesa klientu – gan vispazīstamākie lielveikali un mēbeļu studijas, gan e-komersanti
                        un
                        desmitiem individuālo dizaineru.

                        Galvenā mūsu partneru priekšrocība, pretstatā „kataloga attēlu“ tipa tirgotājiem, ir iespēja
                        visplašāko preču sortimentu saņemt NEKAVĒJOTIES no noliktavas Rīgā.

                        <a href="www.elux.lv" target="_blank">www.elux.lv</a> mūsu biznesa partneriem piedāvā vienmēr
                        aktuālu informāciju par preču sortimentu un to
                        pieejamību Rīgas noliktavā online režīmā. Par online noliktavas lietotāju var kļūt mūsu
                        regulārie
                        sadarbības partneri. Lai pievienotos, lūdzu rakstiet <strong>info@elux.lv</strong>.
                    </p>
                </div>
                <div class="col-6 wholesale_img">
                    <span>Vairumtirdzniecība</span>
                </div>
            </section>
        </main>
    </div>

    <footer class="container-fluid contacts">
        <ul>
            <li>ELEMENTI, ražotāju izstāžu zāle</li>
            <li>ELUX SIA, Cēsu ielā 31, korp. I, LV-1012.</li>
            <li>tālr. +371 67709307</li>
            <li>e-pasts: info@elux.lv</li>
            <li>Strādājam: P-O-T-C-P 9:00-19:00</li>
            <li>Se 10:00-17:00</li>
        </ul>
        <div>
            <h4>Mūsu pārstāvētie zīmoli</h4>
            <div class="brands">
                <p><a href="https://www.bosch-home.lv/" target="_blank">Bosch</a></p>
                <p><a href="https://www.neff-home.com/lv/" target="_blank">Neff</a></p>
                <p><a href="https://www.gaggenau.com/ba/" target="_blank">Gaggenau</a></p>
                <p><a href="https://en.falmec.com/en_ww/" target="_blank">Falmec</a></p>
                <p><a href="https://www.siriuscappe.com/" target="_blank">Sirius</a></p>
                <p><a href="https://www.faberspa.com/en/" target="_blank">Faber</a></p>
                <p><a href="https://www.smeg.com/" target="_blank">Smeg</a></p>
                <p><a href="https://www.franke.com/lv/lv.html" target="_blank">Franke</a></p>
                <p><a href="https://www.electrolux.lv/" target="_blank">Electrolux</a></p>
                <p><a href="https://www.aeg.lv/" target="_blank">Aeg</a></p>
                <p><a href="https://www.bora.com/lv/en/" target="_blank">Bora</a></p>
                <p><a href="https://liebherr.alfis.eu/" target="_blank">Liebherr</a></p>
                <p><a href="https://www.miele.lv/" target="_blank">Miele</a></p>
                <p><a href="https://www.whirlpool.lv/" target="_blank">Whirlpool</a></p>
                <p><a href="https://www.kwc.ch/int-en/en/home.html" target="_blank">Kwc</a></p>
                <p><a href="https://insinkerator.emerson.com/en-us" target="_blank">Insinkerator</a></p>
            </div>
        </div>
    </footer>