<% layout("/layout/boilerplate.ejs") %>

    <div class="container">

        <div class="error_container">
            <h5>Upsss... you got some error! Details see below</h5>
            <h4>
                Status: <%= status %>
            </h4>
            <p>
                Message: <%= message %>
            </p>
        </div>
    </div>