<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/index.css">


    <div class="container-fluid">
        <div class="intro">
            <a href="/about">
                <div class="about_us">
                    Par mums
                </div>
            </a>
            <a href="/shop">
                <div class="to_eshop">
                    Uz e-veikalu
                </div>
            </a>
        </div>
    </div>