
/* CREATE PRODUCT */
.add_new_product {
    border : 1px solid black;
    padding: 20px;
}
.add_new_product form .price_container, .model_container {
    display: flex;
    justify-content: space-evenly;
}

.add_new_product form .category_container, .create_category_container  {
    width: 40%;
    margin: 10px auto;
}

.add_new_product form .textarea_container {
    width: 55%;
    margin: 10px auto;
}

.add_new_product form .button_container {
    width: 60%;
    margin: auto;
}

.add_new_product form .button_container button {
    width: 100%;
}

.category_onSale_container {
    display: flex;
    justify-content: space-around;
}

/* CREATE CATEGORY */
.add_new_category {
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
}

.add_new_category form .create_category_container {
    display: flex;
    width: 80%;
}

/* CHANGE CATEGORY */
.avaliable_categories {
    display: flex;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.219);
}
.inputs_for_changing_category {
    display: flex;
    padding: 10px;
}

.current_category {
    font-weight: bold;
}

/* ALL MODELS VIEW */

.product_to_edit {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.product_to_edit:hover {
    background-color: rgb(226, 219, 219);
    cursor: pointer;
}

.product_to_edit {
    place-items: center;
}

.product_to_edit .category {
    font-style: italic;
}

.product_to_edit .brand_model {
    font-weight: bold;
}

.product_to_edit .new_price {
    color: white;
    background-color: rgb(132, 170, 135);
    padding: 5px;
    text-align: center;
}

.product_to_edit .old_price {
    color: white;
    background-color: rgb(175, 139, 139);
    padding: 5px;
    text-align: center;
}

.product_to_edit .new_price span, .old_price span {
font-weight: bold;
color: black;
}

.product_to_edit .buttons {
    padding: 0;
    text-align: right;
}

