
.back_to_products {
    padding: 5px 100px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.back_to_products a button {
    text-transform: uppercase;
    font-size: 16px;
}

/* succes message when created category or product*/
.created_succes_msg {
    font-weight: bold;
}

/* CREATE PRODUCT */
.add_new_product {
    padding: 20px;
    background-color: #283747;
    color: white;
}
.add_new_product form .price_container, .model_container {
    display: flex;
    justify-content: space-evenly;
}

.add_new_product form .category_container, .create_category_container  {
    width: 40%;
    margin: 10px auto;
}

.add_new_product form .textarea_container {
    width: 90%;
    margin: 10px auto;
}

.add_new_product form .button_container {
    width: 60%;
    margin: auto;
}

.add_new_product form .button_container button {
    width: 100%;
}

.category_onSale_container {
    display: flex;
    justify-content: space-around;
}

/* CREATE CATEGORY */
.add_new_category {
    background-color: #283747;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.add_new_category form .create_category_container {
    display: flex;
    width: 80%;
}

/* CHANGE CATEGORY */
.avaliable_categories {
    display: flex;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.219);
}
.inputs_for_changing_category {
    display: flex;
    padding: 10px;
}

.current_category {
    font-weight: bold;
}

/* ALL MODELS VIEW */

.product_to_edit_active {
    border: 2px solid green;
}
.product_to_edit_hidden {
    border: 2px solid red;
}

.product_to_edit {
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
}

.product_to_edit:hover {
    background-color: rgb(226, 219, 219);
}

.product_to_edit {
    place-items: center;
}

.product_to_edit .brand_model {
    font-weight: bold;
    text-shadow: 1px 1px 2px grey;
    font-size: 18px;
}

.product_to_edit .new_price {
    color: white;
    background-color: #47704b;
    padding: 5px;
    text-align: center;
}

.product_to_edit .old_price {
    color: white;
    background-color: #B73225;
    padding: 5px;
    text-align: center;
}

.product_to_edit .new_price span, .old_price span {
font-weight: bold;
color: #DADED4;
font-size: 18px;
}

.product_to_edit .buttons {
    padding: 0;
    text-align: right;
}

/* PRODUCTS EDIT PAGE */
.edit_product {
    padding: 20px 150px;
    background-color: #283747;
    color: white;
}
.edit_price, .edit_model, .edit_category {
    display: flex;
    justify-content: space-evenly;
}
.edit_product_button {
    text-align: center;
}
.delete_hide_btns {
    display: flex;
    justify-content: space-between;
}

.current_product_status {
    background-color: #3d4e5f;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.current_product_status span {
    font-weight: bold;
    color: rgb(5, 190, 5);
    font-size: 22px;
}