
/* navigation.ejs */
.status_nav_container {
    text-align: center;
    background-color: #932432;
    font-weight: bold;
    padding: 5px 1px;
}
.status_nav_container .status_nav_button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid white;
    
}
.status_nav_container .status_nav_button:hover {
    background-color: #b46872;
}

/* orders.ejs */
.order_statuses div a {
    background-color: #283747;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(236, 231, 219);
    text-align: center;
    margin: 5px; 
    padding: 10px;
}
.order_statuses div a:hover {
    background-color: #8c9bac;
}

.order_statuses_status, .order_statuses_order {
    font-weight: bold;
    font-size: 22px;
    color: #9DC88D;
}
.order_statuses_date {
    font-size: 14px;
    color: #9DC88D;
}

/* details.ejs */
.details_order_container .row {
    margin-top: 10px;
}
.details_order_number, .details_order_status, .details_order_date {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    padding-top: 15px;
    color: white;
}
.details_order_date {
    color: black;
}
.details_order_number {
    background-color: #a28089;
}
.details_order_number span {
    background-color: white;
    color: black;
    padding: 10px;
}
.details_order_status {
    text-transform: capitalize;
    background-color: #4D774E;
    
}

.order_details_cart, .order_details_delivery {
    margin-top: 5px;
    box-shadow: 2px 2px 2px black;
}

.order_details_cart h6, .order_details_delivery h6, .order_details_info_status_edit h5 {
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 3px solid grey;
    text-align: center;
}

.order_details_info_status_edit h5 {
    background-color: #a28089;
    color: white;
}

.order_details_delivery {
    display: grid;
    justify-content: center;
    align-content: center;
}

.order_details_cart table td {
    vertical-align: middle;
}

.order_details_info_status_edit {
    margin-bottom: 50px;
}
.order_details_info_status_edit label {
    font-size: 18px;
}