/* template for errors */
.error_container {
    border: 5px solid black;
    padding: 20px;
    width: 50%;
    margin: 200px auto;
}
.error_container h5 {
    text-align: center;
    font-size: 25px;
    color: red;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

/*  registration error above the fields in regsiter route  */
.registration_error {
    width: 40%;
    padding: 10px;
    margin: 20px auto;
    color: rgba(228, 22, 22, 0.774);
    background-color: rgba(247, 242, 242, 0.658);
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}