#brand a {
text-decoration: none;
color: black;
text-transform: uppercase;
}

nav a {
    text-decoration: none;
}

.isAdmin {
    border: 1px solid rgb(187, 179, 179);
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 20px;
} 
.isAdmin span {
    text-transform: uppercase;
    padding-right: 50px;
    color: rgb(187, 179, 179);
}

.isUserOptions {
    margin-right: 70px;
}
.isUserName {
    margin-right: 40px;
    font-size: 22px;
    border-bottom: 3px solid grey;
}