#brand a {
text-decoration: none;
color: black;
text-transform: uppercase;
}

nav a {
    text-decoration: none;
}

/* .isNotLogged {
    border: 1px solid red;
}

.isLogged {
    border: 1px solid yellow;
}

.isAdmin {
    border: 1px solid blue;
} */