.back_to_products {
    padding: 5px 100px;
    text-transform: uppercase;
}

.back_to_products a button {
    text-transform: uppercase;
    font-size: 16px;
}

.product_details {
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #214151;
    padding: 20px;
}

.product_image_container {
    background-color: white;
    height: 500px;
    background-size: cover;
    background-position: center center;

}


.product_details .top-row .model p {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.product_details .top-row .description {
    height: 100%;
}

.product_details .top-row .description p {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: 75%;
}

.new_price,
.old_price {
    position: relative;
    left: 20px;
    background-color: #314e52;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;

}

.new_price {
    font-size: 34px;
}

.old_price {
    left: 30px;
    text-decoration: line-through;
    color: white;
    background-color: rgb(173, 154, 154);
    border-radius: 40px;
}

/*  */
.add_to_cart {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.add_to_cart_btn {
    margin-top: 5px;
}

.add_to_cart .pluss_minuss input {
    width: 80px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.saleout {
    font-weight: bold;
    padding: 10px;
    font-size: 1.4rem;
    position: absolute;
    background-color: red;
    border-radius: 20px;
    left: -50px;
    top: -10px;
    color: white;
}

/* @media screen and (max-width: 1100px) {
} */

@media screen and (max-width: 800px) {
    .product_details {
        display: flex;
        flex-direction: column;
    }

    .top-row {
        display: flex;
        flex-direction: column;
    }

    .product_image_container {
        width: 500px;
        margin-bottom: 20px;
    }

    .model {
        width: 450px;

    }

    .new_price,
    .old_price {
        font-size: 0.7rem;
    }

    .description {
        position: relative;
        left: -5px;
        width: 450px;
        font-size: 0.9rem;
    }

    .bottom-row {
        position: relative;
        left: -110px;
    }

    .saleout {
        font-size: 0.9rem;
        left: 20px;
    }
}