.back_to_about {
    padding: 5px 100px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.back_to_about a button {
    text-transform: uppercase;
    font-size: 16px;
}


/* categories */

/* categorie background image */
.category {
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-clip: border-box;
    background-origin: padding-box;
}

.categories_nav {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categories_nav .category {
    width: 29%;
    height: 400px;
    font-size: 1.8rem;
    margin-top: 50px;
    transition: 0.5s;
}
.categories_nav .category a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.categories_nav .category a p {
    color: white;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 2.2rem;
}
.categories_nav .category:hover {
transform: scale(1.2)
}


/* products for category */
.card_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card_container .product_card {
    width: 22%;
    height: 450px;
    margin: 10px 16px;
    background-color: #214151;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.card_container .product_card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.card_container .product_card .product_image_container {
    background-color: #cfdbe023;
    height: 260px;
    border-radius: 10px;
    text-align: center;
}
.card_container .product_card .product_image_container img {
    width: 85%;
    padding-top: 10px;  
}

.product_card .card-body {
    margin-top: 40px;
}

.product_card .card-body .card-text .newPriceShow {
    color: green;
    font-size: 1.6rem;
    padding-left: 40px;
}
.product_card .card-body .card-text .oldPriceShow {
    color: red;
    text-decoration: line-through;
    font-size: 1.2rem;
}

.product_card {
    position: relative;
}

.saleout {
    font-weight: bold;
    padding: 10px;
    position: absolute;
    background-color: red;
    border-radius: 20px;
    left: -50px;
    top: -20px;
}