.back_to_products {
    padding: 5px 100px;
    text-transform: uppercase;
}
.back_to_products a button {
    text-transform: uppercase;
    font-size: 16px;
}

.product_details {
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #214151;
    padding: 20px;
}
.product_image_container {
background-color: white;
}
.product_image_container img {
    padding: 20px;
}

.product_details .top-row .model p {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.product_details .top-row .description {
    height: 100%;
}

.product_details .top-row .description p {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: 75%;
}

.new_price, .old_price {
    position: relative;
    left: 90px;
    background-color: #314e52;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
 
}
.new_price {
    font-size: 34px;
}
.old_price {
    left: 120px;
    text-decoration: line-through;
    color: white;
    background-color: rgb(173, 154, 154);
    border-radius: 40px;
}

.add_to_cart {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.add_to_cart .pluss_minuss input {
    width: 80px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.add_to_cart_btn {
    margin-top: 5px;
}