.back_to_products {
    padding: 5px 100px;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.back_to_products a button {
    text-transform: uppercase;
    font-size: 16px;
}

table {
    text-align: center;
    }
    td {
    font-size: 21px;
    }

.cart_image {
    width: 50px;
    border-radius: 10px;
    padding: 5px;
}

.submit_btn {
    float: right;
    margin-top: 50px;
}

.empty_cart, .order_success {
    font-size: 28px;
    padding: 250px;
    text-align: center;
}