/* user data edit form*/
.user_profile_edit_profile_img {
text-align: center;
}

.taken_username_email_error {
    color: red;
    text-align: center;
}

/* USER ORDER HISTORY*/
.order_number {
    font-size: 25px;
    padding: 20px;
}

.order_history_delivery {
    display: flex;
}