/* user data edit form*/
.user_profile_edit_profile_img {
text-align: center;
}

.taken_username_email_error {
    color: red;
    text-align: center;
}

/* USER ORDER HISTORY*/
.back_to_products {
    padding: 5px 100px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.back_to_products a button {
    text-transform: uppercase;
    font-size: 16px;
}

.order_number {
    font-size: 25px;
    padding: 20px;
}

.order_history_delivery {
    display: flex;
}