<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/user.css">


    <div class="container">
        <div style="width: 30%; margin: 120px auto;">

            <form action="/user/<%= id %>/profile/change_password" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="oldPassword">Old password</label>
                    <input class="form-control" type="password" id="oldPassword" name="oldPassword" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="newPassword">New password</label>
                    <input class="form-control" type="password" id="newPassword" name="newPassword" minlength="6"
                        required>
                    <div class="invalid-feedback">
                        Password must be at least 6 characters long.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="repeatNewPassword">Repeat new password</label>
                    <input class="form-control" type="password" id="repeatNewPassword" name="repeatNewPassword"
                        minlength="6" required>
                    <div class="invalid-feedback">
                        Password must be at least 6 characters long.
                    </div>
                </div>
                <button class="btn btn-secondary">Change</button>
            </form>
        </div>
        <% if(error.length) {%>
            <div class="registration_error">
                <%= error %>
            </div>
            <% } %>

    </div>