<link rel="stylesheet" href="/css/admin_orders.css">
<div class="container">
    <div class="row status_nav_container">
        <div class="col-2 status_nav_button">
            <a href="/manage/orders">All orders</a>
        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=Pending">Pending</a>
        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=Processing">Processing</a>
        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=Awaiting_payment">Awaiting payment</a>

        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=Shipped">Shipped</a>
        </div>
        <div class="col-1 status_nav_button">
            <a href="/manage/orders?status=Completed">Completed</a>
        </div>
        <div class="col-1 status_nav_button">
            <a href="/manage/orders?status=Canceled">Canceled</a>
        </div>
    </div>
</div>