<div class="container">
    <div class="row status_nav_container">
        <div class="col-2 status_nav_button">
            <a href="/manage/orders">All orders</a>
        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=pending">Pending</a>
        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=processing">Processing</a>
        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=awaiting_payment">Awaiting payment</a>

        </div>
        <div class="col-2 status_nav_button">
            <a href="/manage/orders?status=shipped">Shipped</a>
        </div>
        <div class="col-1 status_nav_button">
            <a href="/manage/orders?status=completed">Completed</a>
        </div>
        <div class="col-1 status_nav_button">
            <a href="/manage/orders?status=canceled">Canceled</a>
        </div>
    </div>
</div>