<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementi</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@300;400;600&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap"
        rel="stylesheet">
</head>
<!-- 
font-family: 'Montserrat', sans-serif; MAIN APP FONT
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Krona One', sans-serif; LOGO FONTS
-->

<body style="font-family: 'Montserrat', sans-serif;">
    <%- include("../partials/header") %>
        <%- body %>
            <%- include("../partials/footer") %>

                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                        'use strict'

                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.querySelectorAll('.needs-validation')

                        // Loop over them and prevent submission
                        Array.prototype.slice.call(forms)
                            .forEach(function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault()
                                        event.stopPropagation()
                                    }

                                    form.classList.add('was-validated')
                                }, false)
                            })
                    })()
                </script>
                <!-- <script>
                    var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
                    var collapseList = collapseElementList.map(function (collapseEl) {
                        return new bootstrap.Collapse(collapseEl)
                    })
                </script> -->
</body>

</html>