<% layout("/layout/boilerplate.ejs") %>

    <div class="row">
        <div class="col-11 offset-1">
            <div class="d-flex align-items-start">


                <!-- *************************************** NAVIGĀCIJA ********************************-->
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- LEDUSSKAPIS-->
                    <a class="nav-link active" id="v-pills-fridge-tab" data-bs-toggle="pill" href="#v-pills-fridge"
                        role="tab"
                        aria-controls="v-pills-fridge" aria-selected="true">Ledusskapji</a>

                    <!-- CEPEŠKRĀSNIS-->
                    <a class="nav-link" id="v-pills-oven-tab" data-bs-toggle="pill" href="#v-pills-oven" role="tab"
                        aria-controls="v-pills-oven" aria-selected="false">Cepeškrāsnis</a>

                    <!-- PlĪTS VIRSMAS-->
                    <a class="nav-link" id="v-pills-hob-tab" data-bs-toggle="pill" href="#v-pills-hob" role="tab"
                        aria-controls="v-pills-hob" aria-selected="false">Plīts virsmas</a>


                    <!-- TRAUKU MAŠĪNAS-->
                    <a class="nav-link" id="v-pills-dish-tab" data-bs-toggle="pill" href="#v-pills-dish" role="tab"
                        aria-controls="v-pills-dish" aria-selected="false">Trauku mašīnas</a>

                    <!-- TVAIKA NOSŪCĒJS-->
                    <a class="nav-link" id="v-pills-hood-tab" data-bs-toggle="pill" href="#v-pills-hood" role="tab"
                        aria-controls="v-pills-hood" aria-selected="false">Tvaika nosūcēji</a>
                </div>

                <!-- *************************************** PRODUKTI *********************************************-->
                <div class="tab-content" id="v-pills-tabContent">

                    <!-- LEDUSSKAPIS-->
                    <div class="tab-pane fade show active" id="v-pills-fridge" role="tabpanel"
                        aria-labelledby="v-pills-fridge-tab">
                        <!-- loopa sākums -->
                        <div class="card_container">
                            <!-- produkta kartiņa-->
                            <div class="card" style="width: 15rem; max-height: 450px;">
                                <div class="product_image_container">
                                    <img src="/images/fridge.jpg" class="card-img-top" alt="oven">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bosch KGV36VLEAS</h5>
                                    <p class="card-text">A+++ klases
                                        leduskapis
                                    </p>
                                    <a href="/products/3" class="btn btn-primary">Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- loopa beigas-->
                    </div>

                    <!-- CEPEŠKRĀSNIS-->
                    <div class="tab-pane fade" id="v-pills-oven" role="tabpanel" aria-labelledby="v-pills-oven-tab">
                        <!-- loopa sākums -->
                        <div class="card_container">
                            <!-- produkta kartiņa-->
                            <div class="card" style="width: 15rem; max-height: 450px;">
                                <div class="product_image_container">
                                    <img src="/images/oven.jpg" class="card-img-top" alt="oven">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bosch HBG6764S6B</h5>
                                    <p class="card-text">A klases
                                        cepešrkāsns
                                    </p>
                                    <a href="/products/3" class="btn btn-primary">Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- loopa beigas-->
                    </div>

                    <!-- PlĪTS VIRSMAS-->
                    <div class="tab-pane fade" id="v-pills-hob" role="tabpanel" aria-labelledby="v-pills-hob-tab">
                        <!-- loopa sākums -->
                        <div class="card_container">
                            <!-- produkta kartiņa-->
                            <div class="card" style="width: 15rem; max-height: 450px;">
                                <div class="product_image_container">
                                    <img src="/images/hob.jpg" class="card-img-top" alt="hob">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bosch PUE611BF1B</h5>
                                    <p class="card-text">Iebūvējama plīts virsma
                                    </p>
                                    <a href="/products/3" class="btn btn-primary">Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- loopa beigas-->
                    </div>

                    <!-- TRAUKU MAŠĪNAS-->
                    <div class="tab-pane fade" id="v-pills-dish" role="tabpanel" aria-labelledby="v-pills-dish-tab">
                        <!-- loopa sākums -->
                        <div class="card_container">
                            <!-- produkta kartiņa-->
                            <div class="card" style="width: 15rem; max-height: 450px;">
                                <div class="product_image_container">
                                    <img src="/images/dish.jpg" class="card-img-top" alt="dish">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bosch SMV24AX02E</h5>
                                    <p class="card-text">Iebūvējama trauku mazgājamā mašīna
                                    </p>
                                    <a href="/products/3" class="btn btn-primary">Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- loopa beigas-->
                    </div>

                    <!-- TVAIKA NOSŪCĒJS-->
                    <div class="tab-pane fade" id="v-pills-hood" role="tabpanel" aria-labelledby="v-pills-hood-tab">
                        <!-- loopa sākums -->
                        <div class="card_container">
                            <!-- produkta kartiņa-->
                            <div class="card" style="width: 15rem; max-height: 450px;">
                                <div class="product_image_container">
                                    <img src="/images/hood.jpg" class="card-img-top" alt="dish">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bosch DWK095G60</h5>
                                    <p class="card-text">Sienas tvaika nosūcējs
                                    </p>
                                    <a href="/products/3" class="btn btn-primary">Info</a>
                                </div>
                            </div>
                        </div>
                        <!-- loopa beigas-->
                    </div>
                </div>


            </div>
        </div>
    </div>